# Required for testing the langchain integration
langchain>=0.2.0
langchain-community>=0.2.0

# Used for testing of st.connection
sqlalchemy[mypy]>=1.4.25, <2

# Used by audio test:
scipy>=1.7.3

# Used to ensure pydantic is supported
# We only guarantee full support for pydantic >= 2.0.0
pydantic>=2.0.0
